<html ng-app = "Airbnb">
<head>
	<title>WebApp</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" type="text/css" href="css/carousel.css">
	<link rel="stylesheet" type="text/css" href="css/modal.css">
	<link rel="stylesheet" type="text/css" href="css/calendar.css">
</head>
<body>
	<div class="receipt-wrapper">
		<div class="container">
			<div class="customer-reciept-wrapper">
				<div class="receipt-header clearfix">
					<div class="pull-left">
						<h2 class="receipt-title no-margin">Customer Receipt</h2>
						<p class="confirmation-code">CONFIRMATION CODE: 3WAM4Y</p>
						<p class="date-n-no">WED, MARCH 07, 2012</p>
						<p class="date-n-no">RECEIPT # 4024402681</p>
					</div>
					<div class="pull-right primary-details">
						<p>AIRBNB</p>
						<p>+1(415)800-5959</p>
						<p>WWW.AIRBNB.COM/CONTACT</p>
					</div>
				</div>
				<div class="receipt-content">
					<div class="summary width-100">
						<div class="make-table width-100">
							<div class="table-column col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<img class="column-icon" src="public/images/receipt-public/images/person.png">
								<h3>Chris Coyier</h3>
								<span>NAME</span>
							</div>
							<div class="table-column col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<img class="column-icon" src="public/images/receipt-public/images/location.png">
								<h3>Austin, TX</h3>
								<span>TRAVEL DESTINATION</span>
							</div>
						</div>
						<div class="make-table width-100">
							<div class="table-column col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<img class="column-icon" src="public/images/receipt-public/images/accomodation.png">
								<h3>1200 Shelley Ave<br>Austin, TX 78703<br>United States</h3>
								<span>ACCOMODATION ADDRESS</span>
							</div>
							<div class="table-column col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<img class="column-icon" src="public/images/receipt-public/images/property.png">
								<h3>Central Austin Upscale Luxury Home</h3>
								<span>PROPERTY</span>
							</div>
						</div>
						<div class="make-table width-100">
							<div class="table-column col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<img class="column-icon" src="public/images/receipt-public/images/acc-type.png">
								<h3>Entire home/apt</h3>
								<span>ACCOMODATION TYPE</span>
							</div>
							<div class="table-column col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<img class="column-icon" src="public/images/receipt-public/images/guests.png">
								<h3>4</h3>
								<span>GUESTS</span>
							</div>
						</div>
						<div class="make-table width-100">
							<div class="table-column col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<img class="column-icon" src="public/images/receipt-public/images/checkedin.png">
								<h3>THU, MARCH 08, 2012<br>12:00 PM (noon)</h3>
								<span>CHECK IN</span>
							</div>
							<div class="table-column col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<img class="column-icon" src="public/images/receipt-public/images/checkout.png">
								<h3>TUE, MARCH 13, 2012<br>12:00 PM (noon)</h3>
								<span>CHECK OUT</span>
							</div>
						</div>
						<div class="make-table width-100">
							<div class="table-column col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<img class="column-icon" src="public/images/receipt-public/images/nights.png">
								<h3>5</h3>
								<span>NIGHTS</span>
							</div>
							<div class="table-column col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<img class="column-icon" src="public/images/receipt-public/images/deposit.png">
								<h3>$1000</h3>
								<span>SECURITY DEPOSIT</span>
							</div>
						</div>
					</div>
					<div class="payment-details width-100">
						<h2 class="title">Payment Details</h2>
						<div class="make-table width-100">
							<div class="table-column col-lg-8 col-md-8 col-sm-7 col-xs-12">
								<span class="key">ACCOMODATIONS</span>
							</div>
							<div class="table-column col-lg-4 col-md-4 col-sm-5 col-xs-12">
								<span class="value">$5000 <span class="subtext">($1000 per night)</span></span>
							</div>
						</div>
						<div class="make-table width-100">
							<div class="table-column col-lg-8 col-md-8 col-sm-7 col-xs-12">
								<span class="key">AIRBNB SERVICE FEE</span>
							</div>
							<div class="table-column col-lg-4 col-md-4 col-sm-5 col-xs-12">
								<span class="value">$300</span>
							</div>
						</div>
						<div class="make-table width-100">
							<div class="table-column col-lg-8 col-md-8 col-sm-7 col-xs-12">
								<span class="key">AIRBNB SERVICE CONCIERGE<span class="subtext"><sup>BETA</sup>Premium Guest Services - Details below</span></span>
							</div>
							<div class="table-column col-lg-4 col-md-4 col-sm-5 col-xs-12">
								<span class="value">FREE</span>
							</div>
						</div>
						<div class="make-table width-100">
							<div class="table-column col-lg-8 col-md-8 col-sm-7 col-xs-12">
								<span class="pull-right key">TOTAL</span>
							</div>
							<div class="table-column col-lg-4 col-md-4 col-sm-5 col-xs-12">
								<span class="value">$5300</span>
							</div>
						</div>
					</div>
					<div class="payment-details width-100">
						<div class="make-table width-100">
							<div class="table-column col-lg-8 col-md-8 col-sm-7 col-xs-12">
								<span class="key">PAYMENT RECEIVED: THU, OCTOBER 27, 2011 (AMERICAN EXPRESS XXXXXXXXXXX1008)</span>
							</div>
							<div class="table-column col-lg-4 col-md-4 col-sm-5 col-xs-12">
								<span class="value">$9388</span>
							</div>
						</div>
						<div class="make-table width-100 refund">
							<div class="table-column col-lg-8 col-md-8 col-sm-7 col-xs-12">
								<span class="key">REFUNDED (AMERICAN EXPRESS XXXXXXXXXXX1008)</span>
							</div>
							<div class="table-column col-lg-4 col-md-4 col-sm-5 col-xs-12">
								<span class="value">($4088)</span>
							</div>
						</div>
						<div class="make-table width-100">
							<div class="table-column col-lg-8 col-md-8 col-sm-7 col-xs-12">
								<span class="pull-right key">BALANCE</span>
							</div>
							<div class="table-column col-lg-4 col-md-4 col-sm-5 col-xs-12">
								<span class="value">$0</span>
							</div>
						</div>	
					</div>
					<div class="payment-details width-100">
						<div class="make-table width-100">
							<div class="table-column col-lg-8 col-md-8 col-sm-7 col-xs-12">
								<span class="key">DEPOSIT HELD</span>
							</div>
							<div class="table-column col-lg-4 col-md-4 col-sm-5 col-xs-12">
								<span class="value">$1000</span>
							</div>
						</div>
					</div>
				</div>
				<div class="receipt-footer width-100 text-center">
					<img src="public/images/barcode.png">
					<p class="text-center">THANKS FOR TRAVELLING WITH AIRBNB</p>
					<h5 class="footer-address">99 RHODE ISLAND ST., SAN FRANCISCO, CA, 94103, UNITED STATES</h5>
				</div>
				<div class="receipt-edgeimage"></div>
			</div>
		</div>
	</div>	
<script type="text/javascript" src="lib/jquery.js"></script>		
<script type="text/javascript" src="lib/bootstrap.min.js"></script>
<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>		
<script type="text/javascript" src="scripts/app.js"></script>
<script type="text/javascript" src="scripts/main.js"></script>
<script type="text/javascript" src="scripts/main.controller.js"></script>
<script type="text/javascript" src="scripts/home.controller.js"></script>
<script type="text/javascript" src="scripts/loginModal.controller.js"></script>
<script type="text/javascript" src="scripts/signupModal.controller.js"></script>
</body>
</html>