<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding listing-wrapper">
	<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 no-padding room-section">
		<div class="col-lg-12 col-md-12 col-sm-12 hidden-xs no-padding search-criteria-wrapper">
			<div class="single-row col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="text-center col-lg-2 col-md-12 col-sm-12 col-xs-12 no-padding">
					<p class="section-label">Dates</p>
				</div>
				<div class="col-lg-9 colmd-11 col-sm-11 col-xs-12 no-padding">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pad-6 no-padding-left">
						<span ng-class="{'focused-on':vm.checkInDatePopUp.opened}" class="in-out-btn" ng-click="vm.openCheckinDate()">
						<input type="text" class="form-control check-in-box" uib-datepicker-popup="{{vm.format}}" ng-model="vm.checkInDate" is-open="vm.checkInDatePopUp.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" datepicker-append-to-body="true" placeholder="Check In"/ show-weeks="false">
					         
						</span>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pad-6">
						<span class="in-out-btn pad-top-5" ng-class="{'focused-on':vm.checkOutDatePopUp.opened}" class="in-out-btn" ng-click="vm.openCheckOutDate()">
						<input type="text" class="form-control check-in-box" uib-datepicker-popup="{{vm.format}}" ng-model="vm.checkOutDate" is-open="vm.checkOutDatePopUp.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" datepicker-append-to-body="true" placeholder="Check Out"/>
						</span>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pad-6 no-padding-right">
						<div class="no-of-guest">
							<span class="guest-count focused-on pull-left">1 guest</span>
							<i class="fa fa-caret-up pull-right" aria-hidden="true"></i>
							<i class="fa fa-caret-down pull-right active" aria-hidden="true"></i>
							<div class="filter-sec"><!-- add class "open" to show div -->
								<ul class="clearfix">
									<li>
										<div class="col-lg-8 col-md-8 col-sm-8 no-padding-left rest-text">
											<span class="pull-left main-criteria">1 adult</span>
											<span class="pull-right sub-criteria"></span>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 no-padding inc-dec">
											<span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">-</span>
											<span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">+</span>
										</div> 
									</li>
									<li>
										<div class="col-lg-8 col-md-8 col-sm-8 no-padding-left rest-text">
											<span class="pull-left main-criteria">0 children</span>
											<span class="pull-right sub-criteria">age 2 - 12</span>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 no-padding inc-dec">
											<span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">-</span>
											<span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">+</span>
										</div> 
									</li>
									<li>
										<div class="col-lg-8 col-md-8 col-sm-8 no-padding-left rest-text">
											<span class="pull-left main-criteria">0 infants</span>
											<span class="pull-right sub-criteria">under 2</span>
										</div>
										<div class="col-lg-4 col-md-4 col-sm-4 no-padding inc-dec">
											<span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">-</span>
											<span class="col-lg-6 col-md-6 col-sm-6 col-xs-6 no-padding">+</span>
										</div> 
									</li>
								</ul>
								<span class="pull-right close-link">close</span>
							</div>
						</div>	
					</div>
				</div>
			</div>
			<div class="single-row col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="text-center col-lg-2 col-md-12 col-sm-12 col-xs-12 no-padding">
					<p class="section-label">Room type</p>
				</div>
				<div class="col-lg-9 colmd-11 col-sm-11 col-xs-12 no-padding make-table">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pad-6 table-column no-padding-left">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding checkbox">
							<label for="entireHome" class="promotions-checkbox">
								<img class="checkbox-img" src="../images/room-list-images/entire-home.png">
			                    <input type="checkbox" id="entireHome" name="entireHome" >
			                    Entire Home
			                </label>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pad-6 table-column">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding checkbox">
							<label for="privateRoom" class="promotions-checkbox">
								<img class="checkbox-img" src="../images/room-list-images/private-room.png">
			                    <input type="checkbox" id="privateRoom" name="privateRoom" >
			                    Private Room
			                </label>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 pad-6 table-column no-padding-right">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding checkbox">
							<label for="sharedRoom" class="promotions-checkbox">
								<img class="checkbox-img" src="../images/room-list-images/shared-room.png">
			                    <input type="checkbox" id="sharedRoom" name="sharedRoom" >
			                    Shared Room
			                </label>
						</div>	
					</div>
				</div>
			</div>
			<div class="single-row col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="text-center col-lg-2 col-md-12 col-sm-12 col-xs-12 no-padding">
					<p class="section-label">Price range</p>
				</div>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 filter-results">
			<div class="single-row clearfix">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pad-12">
					<div class="col-xs-12 filter-btn-sec border-bottom">
						<button class="btn-small grey">Filters</button>
					</div>
					<div class="col-xs-12 pad-12">
						<p class="bold-font rental-count">300+ Rentals . London</p>
					</div>
					<div class="col-xs-12 no-padding enter-date-msg">
						<i class="fa fa-inr" aria-hidden="true"></i>
						<span>Enter dates to see full pricing. Additional fees apply. Taxes may be added.</span>
					</div>
				</div>
			</div>
			<div class="single-row clearfix">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-12 each-result-tile" ng-repeat="property in vm.properties">
		        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding img-wrapper">
		        		<img class="room-thumbnail" src="{{property.propertyPictures[0]}}">
		        		<span class="price-tag"><sup class="h6 bold-font">&#8377;</sup><span class="h3 bold-font">{{property.base_price | currency}}</span></span>
		        		<div class="fav-icon">
		        			<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="35px" width="35px"
								 viewBox="0 0 492.719 492.719" style="enable-background:new 0 0 492.719 492.719;" xml:space="preserve">
								<g>
									<g id="Icons_18_">
										<path d="M492.719,166.008c0-73.486-59.573-133.056-133.059-133.056c-47.985,0-89.891,25.484-113.302,63.569
											c-23.408-38.085-65.332-63.569-113.316-63.569C59.556,32.952,0,92.522,0,166.008c0,40.009,17.729,75.803,45.671,100.178
											l188.545,188.553c3.22,3.22,7.587,5.029,12.142,5.029c4.555,0,8.922-1.809,12.142-5.029l188.545-188.553
											C474.988,241.811,492.719,206.017,492.719,166.008z"/>
									</g>
								</g>
							</svg>
		        		</div>
		        	</div>
		        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 room-description cursor-pointer" ng-click="vm.viewPropertyDetails()">
		        		<img  class="reviewer-img" src="../images/room-list-images/room-reviewer.png">
		        		<p class="room-title"><span class="new">New</span>Marylebone - A charming double bed</p>
		        		<p class="room-type">
		        			<span>Pivate room..</span>
		        			<i class="fa fa-star rated" aria-hidden="true"></i>
		        			<i class="fa fa-star rated" aria-hidden="true"></i>
		        			<i class="fa fa-star rated" aria-hidden="true"></i>
		        			<i class="fa fa-star rated" aria-hidden="true"></i>
		        			<i class="fa fa-star" aria-hidden="true"></i>
		        			<span>.19 reviews</span>
		        		</p>
		        	</div>
				</div>
				<!-- <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-12 each-result-tile">
		        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding img-wrapper">
		        		<img class="room-thumbnail" src="../images/room-list-images/room-1-a.png">
		        		<span class="price-tag"><sup class="h6 bold-font">&#8377;</sup><span class="h3 bold-font">5225</span></span>
		        		<div class="fav-icon fav">
		        			<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="35px" width="35px"
								 viewBox="0 0 492.719 492.719" style="enable-background:new 0 0 492.719 492.719;" xml:space="preserve">
								<g>
									<g id="Icons_18_">
										<path d="M492.719,166.008c0-73.486-59.573-133.056-133.059-133.056c-47.985,0-89.891,25.484-113.302,63.569
											c-23.408-38.085-65.332-63.569-113.316-63.569C59.556,32.952,0,92.522,0,166.008c0,40.009,17.729,75.803,45.671,100.178
											l188.545,188.553c3.22,3.22,7.587,5.029,12.142,5.029c4.555,0,8.922-1.809,12.142-5.029l188.545-188.553
											C474.988,241.811,492.719,206.017,492.719,166.008z"/>
									</g>
								</g>
							</svg>
		        		</div>
		        	</div>
		        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 room-description " ng-click="vm.viewPropertyDetails()">
		        		<img  class="reviewer-img" src="../images/room-list-images/room-reviewer.png" >
		        		<p class="room-title"><span class="new">New</span>Marylebone - A charming double bed</p>
		        		<p class="room-type">
		        			<span>Pivate room..</span>
		        			<i class="fa fa-star rated" aria-hidden="true"></i>
		        			<i class="fa fa-star rated" aria-hidden="true"></i>
		        			<i class="fa fa-star rated" aria-hidden="true"></i>
		        			<i class="fa fa-star rated" aria-hidden="true"></i>
		        			<i class="fa fa-star" aria-hidden="true"></i>
		        			<span>.19 reviews</span>
		        		</p>
		        	</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-12 each-result-tile">
		        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding img-wrapper">
		        		<img class="room-thumbnail" src="../images/room-list-images/room-1-a.png">
		        		<span class="price-tag"><sup class="h6 bold-font">&#8377;</sup><span class="h3 bold-font">5225</span></span>
		        		<div class="fav-icon">
		        			<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="35px" width="35px"
								 viewBox="0 0 492.719 492.719" style="enable-background:new 0 0 492.719 492.719;" xml:space="preserve">
								<g>
									<g id="Icons_18_">
										<path d="M492.719,166.008c0-73.486-59.573-133.056-133.059-133.056c-47.985,0-89.891,25.484-113.302,63.569
											c-23.408-38.085-65.332-63.569-113.316-63.569C59.556,32.952,0,92.522,0,166.008c0,40.009,17.729,75.803,45.671,100.178
											l188.545,188.553c3.22,3.22,7.587,5.029,12.142,5.029c4.555,0,8.922-1.809,12.142-5.029l188.545-188.553
											C474.988,241.811,492.719,206.017,492.719,166.008z"/>
									</g>
								</g>
							</svg>
		        		</div>
		        	</div>
		        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 room-description " ng-click="vm.viewPropertyDetails()">
		        		<img  class="reviewer-img" src="../images/room-list-images/room-reviewer.png">
		        		<p class="room-title"><span class="new">New</span>Marylebone - A charming double bed</p>
		        		<p class="room-type">
		        			<span>Pivate room..</span>
		        			<i class="fa fa-star rated" aria-hidden="true"></i>
		        			<i class="fa fa-star rated" aria-hidden="true"></i>
		        			<i class="fa fa-star rated" aria-hidden="true"></i>
		        			<i class="fa fa-star rated" aria-hidden="true"></i>
		        			<i class="fa fa-star" aria-hidden="true"></i>
		        			<span>.19 reviews</span>
		        		</p>
		        	</div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pad-12 each-result-tile">
		        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding img-wrapper">
		        		<img class="room-thumbnail" src="../images/room-list-images/room-1-a.png">
		        		<span class="price-tag"><sup class="h6 bold-font">&#8377;</sup><span class="h3 bold-font">5225</span></span>
		        		<div class="fav-icon fav">
		        			<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height="35px" width="35px"
								 viewBox="0 0 492.719 492.719" style="enable-background:new 0 0 492.719 492.719;" xml:space="preserve">
								<g>
									<g id="Icons_18_">
										<path d="M492.719,166.008c0-73.486-59.573-133.056-133.059-133.056c-47.985,0-89.891,25.484-113.302,63.569
											c-23.408-38.085-65.332-63.569-113.316-63.569C59.556,32.952,0,92.522,0,166.008c0,40.009,17.729,75.803,45.671,100.178
											l188.545,188.553c3.22,3.22,7.587,5.029,12.142,5.029c4.555,0,8.922-1.809,12.142-5.029l188.545-188.553
											C474.988,241.811,492.719,206.017,492.719,166.008z"/>
									</g>
								</g>
							</svg>
		        		</div>
		        	</div>
		        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 room-description " ng-click="vm.viewPropertyDetails()">
		        		<img  class="reviewer-img" src="../images/room-list-images/room-reviewer.png">
		        		<p class="room-title"><span class="new">New</span>Marylebone - A charming double bed</p>
		        		<p class="room-type">
		        			<span>Pivate room..</span>
		        			<i class="fa fa-star rated" aria-hidden="true"></i>
		        			<i class="fa fa-star rated" aria-hidden="true"></i>
		        			<i class="fa fa-star rated" aria-hidden="true"></i>
		        			<i class="fa fa-star rated" aria-hidden="true"></i>
		        			<i class="fa fa-star" aria-hidden="true"></i>
		        			<span>.19 reviews</span>
		        		</p>
		        	</div>
				</div> -->
			</div>
		</div>
	</div>
	<div id="map" class="col-lg-5 col-md-5 col-sm-5 col-xs-12 no-padding map-section">
	
	</div>
</div>